@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
* {  
  font-family:'Original Surfer';
}
.crownimg{
    margin-top: -31px;
}
.card{
    border-radius: 20px !important;
   
}
.splide__pagination{
    display: none !important;
}
.splide__arrow {
    display: none !important;
}
.card-body{
    border-radius: 20px !important;
    background-color: white !important;
}
.fas{
    color: #7c37fa !important;
}
.btn{
    background-color: #7c37fa;
    color: white;
    border-radius: 15px !important;
    width: 70%;
    margin-left: 37px;
}
.month{
    font-size: 15px;
}
@media screen and (max-width:650px) {
    .card{
        width: 303px !important;
    }
    .splide__arrow {
        display: block !important;
    }
}